
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-facebook-squared:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */